<div class="greyBg px-5">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col position-relative">
        <img src="../assets/villa 1.png" alt="villa" class="leftImg" />
        <h1 class="px-2 py-1 text-center brandName">
          <i class="fa fa-slack"></i> Green Haven
        </h1>
        <p class="brandTagLine text-center">
          Discover your dream home with <b>Green Haven Real Estate,</b> Where
          Your Perfect Heaven Awaits!
        </p>
      </div>
      <div class="col bg-white leftImg px-5 py-4">
        <h5 class="px-4">Start Your</h5>
        <h2 class="px-4">30-day free trial</h2>
        <div class="text-center mb-4">
          <button class="btn border mt-4 p-2 px-5">
            <img src="../assets/google.png" alt="" width="30" /> Sign up with
            Google
          </button>
        </div>
        <hr />
        <form action="" formGroupName="registrationForm">
          <div class="mt-4 d-flex">
            <div class="mx-4">
              <label for="firstname" class="py-1">Name: </label>
              <br />
              <input
                class="px-2 py-2 border"
                type="text"
                placeholder="First Name"
                id="firstname"
                formControlName="firstName"
              />
            </div>

            <div>
              <label for="lastname" class="py-1">Surname: </label>
              <br />
              <input
                class="px-2 py-2 border"
                type="text"
                placeholder="Last Name"
                id="lastname"
                formControlName="lastName"
              />
            </div>
          </div>
          <div class="mx-4 mt-3">
            <label for="email" class="py-1">Email: </label>
            <br />
            <input
              class="px-2 py-2 border w-100"
              type="text"
              placeholder="Enter your email"
              id="email"
              formControlName="lastName"
            />
          </div>
          <div class="mx-4 mt-3">
            <label for="email" class="py-1">Password: </label>
            <br />
            <div class="position-relative">
              <input
                class="px-2 py-2 border w-100"
                type="password"
                placeholder="Your password"
                id="password"
                formControlName="password"
              />
              <i
                class="eye-icon fa fa-eye-slash"
                (click)="togglePasswordVisibility()"
              ></i>
            </div>
          </div>
          <div class="text-center mb-4">
            <button
              class="btn btn-primary mt-3 w-50"
              [disabled]="!registrationForm.valid"
            >
              Get Started
            </button>
          </div>
        </form>
        <div class="text-center">
          Don't you have an account?
          <span class="text-primary custom-pointer">Log in</span>
        </div>
      </div>
    </div>
  </div>
</div>
